 
.container{

  padding: 25px;   
  background-color:darksalmon;
}
  .button{
    padding: 15px 20px;
  background:white;
  color:red;
  /*border: 2px solid #ecf0f1;*/
  outline: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  }
 
  .gdd{
    color: aliceblue;
  }

  a{
    color: aliceblue;
  }
  p{
    color:white ;
  }
  span{
    color:aliceblue
  }